<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GANJIL</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="background-image: url(&quot;assets/img/Dokumen%20dari%20Fransiska%20Apri%20Wulandari.jpg&quot;);opacity: 1;filter: blur(0px);">
    <div class="col-md-12 col-lg-8 offset-lg-2" style="text-align: center;margin-top: -34px;width: 970px;height: 47px;margin-bottom: 1px;margin-right: 0px;padding-top: 184px;">
        <h1 style="color: rgb(14,13,13);font-size: 83px;height: 66px;width: 804px;">&nbsp; &nbsp; &nbsp; LAPORAN</h1><button class="btn btn-danger" style="border: none;width: 260px;height: 106px;margin-left: 14px;background-color: #1afaed;color: rgb(0,0,0);padding-top: 21px;margin-top: 12px;font-size: 43px;" type="button"><strong>INPUT</strong></button>
        <button
            class="btn btn-danger" style="border: none;width: 260px;height: 106px;margin-left: 14px;background-color: #384e78;color: rgb(255,255,255);margin-top: 12px;margin-right: px;margin-bottom: px;padding-left: -9px;font-size: 43px;" type="button">CETAK&nbsp;</button>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>